.burger-slide{
    /*border: 2px solid red;*/
    background-color: rgb(247, 247, 247);
    width: 65%;
    position: absolute;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: flex-end;

    @include respond-to(medium){
        display: none;
    }

    .close-btn{
        padding: 1rem;
        cursor: pointer;
    }

    .slide-buttons{
        /*border: 2px solid magenta;*/
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        margin-block: 1rem;
        width: 100%;

        .f-and-c{
            margin-left: 5px;
        }
        button {
            /*border: 2px solid yellow;*/
            width: 100%;
            text-align: left;
        }
    }

    .general-styles{
        padding: 1rem;
        cursor: pointer;
        font-weight: bold;
        color: $mediumGray;
        border: none;
        background: none;
    }

    .login-and-register-buttons{
        /*border: 2px solid magenta;*/
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        width: 100%;

        .register-btn{
            padding-block: 1rem;
            padding-inline: 3rem;
            border-radius: 20px;
            border: 1.5px solid $mediumGray;
            background: none;
            cursor: pointer;
            color: $mediumGray;
        }
        .login-btn{
            padding-block: 1rem;
            padding-inline: 2rem;
            border: none;
            background: none;
            cursor: pointer;
            color: $mediumGray;
        }
    }
}

.features-drop-down {
    /*border: 2px solid magenta;*/
    width: 100%;

    .dropdown-menu {
        /*border: 2px solid yellow;*/
        margin-left: 2rem;
        display: none;
        flex-direction: column;
        gap: 20px;
        
        .dropdown-item {
            display: flex;
            gap: 15px;

            p{
                font-weight: 500;
                color: $mediumGray;
            }
        }
    }
}

.company-dropdown {
    /*border: 2px solid magenta;*/
    width: 100%;

    .dropdown-menu {
        /*border: 2px solid yellow;*/
        margin-left: 2rem;
        display: none;
        flex-direction: column;
        gap: 15px;
        
        button {
            padding-right: 1rem;
            padding-block: 0.5rem;
            border: none;
            background: transparent;
            font-size: 1.2rem;
            color: $mediumGray;
            font-weight: 500;
        }
    }
}