.footer {
    /*border: 2px solid magenta;*/
    max-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
    padding-block: 2rem;
    width: 100%;

    .footer-img{
        width: 80px;
    }
}