.hero-container {
    /*border: 2px solid red;*/
    max-width: 100%;
    height: auto;

    img {
        max-width: 100%;
        height: auto;
        display: block;
    }

    @include respond-to(small) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}